{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="static/base.css"> -->
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block header_extends %}{% endblock %}
</head>
<body>
    <div class="nav">
        <a class="logo" href="{% url 'home' %}">
            <h3>博客主页</h3>
            <a href="/">首页</a>
            <a href="{% url 'blog_list' %}">博客</a>
        </a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>